* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The Manrope font is imported from Google */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;0,500;0,600;0,700;1,500;1,600&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* body styling for the font */
body {
    font-family: 'Manrope', 'Kanit', sans-serif;
}

/* Google icon styling */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* This is the website header styling. It contains the finsweet logo, menu text and road assistance icon */
header {
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    z-index: 3;
}

.header-body {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffff;
    right: 10%;
    z-index: 3;
}

.logo {
    font-size: 13px;
    font-family: 'Manrope', bold, 'Kanit', sans-serif;
    font-weight: bolder;
    
}

/* This is the menu text and road assistance styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

/* website top menu styling */
.nav-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-text ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    column-gap: 30px;
    padding-right: 30px;
    border-right: 1.8px solid gray;
    height: 30px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

/* road assistance styling. Include text and icon */
.road-assistance {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    height: 100px;
}

/* Styling of road assistance text*/
.road-assistance-text {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.road-assistance .icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #61C3A1;
    height: 35px;
    width: 35px;
    border-radius: 30px;
}

.road-assistance-text h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}

.road-assistance-text p {
    font-size: 13px;
    font-weight: 700;
}

/* styling of the main page the viewer sees after the header */
main {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
}

.main-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.main-container .left-part {
    width: 47%;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.main-container .left-part .call-to-action {
    font-size: 30px;
    padding-right: 80px;
    font-weight: 900;
    height: 100%;
    margin-top: 60px;
    /* line-height: 85px; */
}

.main-container .left-part .call-to-action h2 {
    font-weight: bolder;
}

.main-container .left-part .were-open {
    font-size: 29px;
    padding-right: 60px;
    font-weight: 900;
    height: 100%;
    font-weight: bolder;
}

.main-container .left-part .btn {
    padding-right: 60px;
}    


button {
    border: transparent;
    font-size: 14px;
    color: white;
    align-items: center;
    padding: 10px 20px;
    height: 55px;
    width: 170px;
    background-color: #FF6433;
    border-radius: 9px;
    font-family: 'Manrope', bold, 'Kanit', sans-serif;
    margin-top: 28px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

button:hover {
    background-color: #0a8629;
    transform: scale(1.05) ;
    
}

/* Styling of call text*/
.were-open {
    display: flex;
    font-size: 13px;
    align-items: left;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.time-icon {
    margin-right: 20px;
    align-items: center;
    justify-content: space-around;
}

.time-icon img {
    display: block; 
    margin: 0 auto;
}

.date h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
    column-gap: 20px;
}

.date p {
    font-size: 13px;
    font-weight: 700;
}

.open-text {
    display: flex;
    align-items: center;
}

.main-container .right-part {
    background-image: url(../img/picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 53%;
    height: 100%;
}

main .main-container .right-part .service {
    position: absolute;
    left: 40%;
    z-index: 1;
}

main .main-container .right-part .rating {
    position: absolute;
    right: 3%;
    bottom: 4%;
    z-index: 1;
}


/* second section styling */
.second-part {
    height: 100vh;
    background-color: #E2E6E9;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.left-second-part {
    width: 50%;
    height: 75%;
    padding-right: 10%;
    padding-left: 10%;
}

.left-second-part h3 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.offer {
    display: flex;
    font-size: 12px;
    align-items: left;
    justify-content: space-between;
    column-gap: 10px;
    align-items: left;
}

.offer-icon {
    margin-right: 7px;
    position: relative;
    top: -8px;
}

.time-icon img {
    display: block; 
    margin: 0 auto;
}

.offer h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 7px;
    column-gap: 10px;
    font-weight: 700;
}

.offer p {
    font-size: 13px;
    font-weight: 700px;
    padding-right: 95px;
    line-height: 22px;
    margin-bottom: 25px;
}

.know-more {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 10px;
    margin-left: 58px;
}

.know-more p {
    font-weight: 700;
}

.know-more .arrow {
    margin-top: 7px;
}

.right-second-part {
    width: 50%;
    height: 75%;
    padding-right: 10%;
}

.right-second-part h3 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 50px;
    margin-right: 20px;
}

.right-second-part input {
    height: 58px;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 4px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Manrope', bold, 'Kanit', sans-serif;
    font-weight: 600;
}

/* Third section styling */
.third {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

.third-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 90vh;
}

.third-left {
    display: flex;
    width: 50%;
    height: 60%;
    padding-right: 5%;
}

.third-left .call-to-action h2  {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.third-left .call-to-action p  {
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10%;
}

.third-left .call-to-action .btn  {
    border: transparent;
    font-size: 14px;
    color: white;
    align-items: center;
    padding: 10px 20px;
    height: 55px;
    width: 150px;
    background-color: #FF6433;
    border-radius: 9px;
    font-family: 'Manrope', bold, 'Kanit', sans-serif;
    margin-top: 28px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.third-right {
    display: flex;
    width: 50%;
    height: 80%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.third-right .list .list-container{
    display: flex;
    margin-bottom: 10px;
}

.third-right .list .list-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-right .list .list-icons .circle {
    margin-bottom: 5px;
}

.third-right .list .list-text {
    margin: 13px 130px 0px 30px;

}
.third-right .list .list-text h3{
    font-size: 20px;
    margin-bottom: 12px;
}

.third-right .list .list-text p{
    line-height: 25px;
    font-size: 14px;
}


/* Fourth section styling */
.fourth {
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 120vh;
}

.fourth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    flex-direction: column;
}

.fourth-text {
    justify-content: center;
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
}

.fourth .fourth-text h3 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 50px;
    margin-right: 20px;
    line-height: 45px;
}

.fourth .fourth-text h6 {
    margin-bottom: 8px;
    font-size: 14px;
}

.icons-tab {
    display: flex;
    justify-content:center;
    width: 70%;
    height: 50%;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 10px;
}

.icons-tab .tab {
    display: flex;
    height: 50%;
    width: 24%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons-tab .tab .icon{
    margin-bottom: 15px;
}

.icons-tab .tab h5{
    font-size: 14px;
}

.icons-tab .tab:hover {
    color: white;
    background-color: #FF6433;
}

.learn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    width: 70%;
}

.learn-more {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 10px;
    margin-left: 58px;
    justify-content: flex-end;
}

.learn-more p {
    font-weight: 700;
    font-size: 14px;
}

.learn-more .arrow {
    margin-top: 7px;
}


/* fifth section styling */
.fifth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-color:#F2F2F2;
    flex-direction: column;
}

.fifth .get-in-touch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    background-color:#F2F2F2;
    ;
    position: relative;
}

.fifth .get-in-touch .image-1 {
    background-image: url(../img/Car.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 45%;
}

.fifth .get-in-touch .container {
    background-color: #FF6433;
    height: 100%;
    width: 38%;
    position: absolute;
    left: 180px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.fifth .get-in-touch .container h3{
    font-size: 30px;
    color: #ffffff;
}

.fifth .get-in-touch .container .btn-2{
    border: transparent;
    font-size: 14px;
    color: white;
    align-items: center;
    padding: 10px 20px;
    height: 45px;
    width: 130px;
    background-color: #000000;
    border-radius: 9px;
    font-family: 'Manrope', bold, 'Kanit', sans-serif;
    margin-top: 28px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.fifth .get-in-touch .container .btn-2:hover {
    background-color: #ffffff;
    transform: scale(1.05) ;
    color: #000000;
}

.fifth .get-in-touch .image-2 {
    background-image: url(../img/repair.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 55%;
}

.fifth .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 28%;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.fifth .stats h2 {
    font-size: 38px;
    color: #661CE7;
    margin-bottom: -2px;
}

.fifth .stats p {
    font-size: 13px;
    color: #1E1B1B;
    ;
}

/* sixtth section styling */
.sixth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55vh;
    background-color: #ffffff;
    flex-direction: column;
}

.sixth .sixth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88%;
    width: 100%;
    flex-direction: column;
}

.sixth .sixth-container .sixth-text {
    justify-content: center;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

.sixth .sixth-container .icons-tab{
    column-gap: 100px;
    row-gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px ;
}
.sixth .sixth-container .sixth-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 20%;
    width: 10%;
}

.sixth .sixth-container .sixth-tab h6{
    font-weight: bolder;
    font-size: 13px;
}

